{% extends "base.html.twig" %}

{% block body %}

    <h1>{{ owner.displayName }}'s Room</h1>
    <nav>
        <ul>
            <li>
                <a href="../../">HOME</a>
            </li>
        </ul>
    </nav>

{% endblock %}
