{% extends "base.html.twig" %}

{% block body %}

    <div class = "container">
        <div class="wrapper">
            <form  target="_self" method="POST" id="loginForm"  class="form-signin">
                <h3 class="form-signin-heading">{{ owner.displayName }}'s Room</h3>
                <img src="http://zezete2.z.e.pic.centerblog.net/7badf450.png" style=" height: 112px; ">
                <label>
                    Login :
                    <input type="text" class="form-control" name="username" placeholder="Username" required="" autofocus="" />
                </label>
                <label>
                    Password :
                    <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
                </label>
                <label>
                    Email :
                    <input type="email" class="form-control" name="mail" placeholder="email" required="" autofocus="" />
                </label>
                <label>
                    Display name :
                    <input type="text" class="form-control" name="displayName" placeholder="Username" required="" autofocus="" />
                </label>

                <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit">Register</button><br>
                {% if errorMessage %}
                <div class="text-center col-xs-12">{{errorMessage}}</div>
                {% endif %}
            </form>
        </div>
    </div>

{% endblock %}
